html, body {
    height: 100%;
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container{
    display: flex;
}
.flex-column{
    flex-direction:column;
}
.flex-wrap{
    flex-wrap:wrap;
}
.flex-center{
    justify-content:center;
    align-items: center;
}
.board-container {
    height: 100%;
    width: 100%;
}
.board{
    width: 330px;
}
.square {
    width:100px;
    height:100px;
    border: 3px solid darkgrey;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
.square:hover {
    background-color: floralwhite;
}
.winner {
    display: none;
    padding:2em;
}
.reset{
    padding:1em;
    margin:1em;
}